In [129]:
import numpy as np 
import pandas as pd 
from keras.datasets import imdb
from sklearn.feature_extraction.text import CountVectorizer
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential, Model
from keras.optimizers import Adam
from keras.layers import Dense, Embedding, LSTM, Conv1D, MaxPool1D, Convolution1D, BatchNormalization, Dropout, Flatten, SpatialDropout1D, Input
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import re
import datetime
import time
import backtrader as bt
%matplotlib inline

In [130]:

def extract_dataset():
    data = pd.read_csv('standardchartered.csv')
    data = data.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)
    # Keeping only the neccessary columns
    print('Extracting dataset...')
    df = data.set_index('Date')
    perChange = (df['Close'].shift(-1) / df['Close']) - 1
    y = perChange > 0
    y = y.astype(int)
    #print(data)
    return y, df

In [131]:
y, df = extract_dataset()
Xtrain, Xtest, ytrain, ytest = train_test_split(df, y, test_size=0.2, shuffle=False)
X_train = np.asarray(Xtrain)
X_test = np.asarray(Xtest)

y_train = np.asarray(ytrain)
y_test = np.asarray(ytest)

Extracting dataset...

In [132]:
def model():
    inp = Input(shape=(None, 5))
        
    x = LSTM(256,return_sequences=True, activation='relu')(inp)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)
    
    x = LSTM(256, return_sequences=True, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)
    
    x = LSTM(256, activation='softmax')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)

    
    x = Dense(1, activation='sigmoid')(x)
    
    model = Model(inp, x)
    
    model.compile('adam', 'binary_crossentropy', metrics=['accuracy'])
    model.fit(X_train.reshape(-1, 1, 5), y_train, epochs=20)
    return model
model = model()

Epoch 1/20
400/400 [==============================] - 8s 21ms/step - loss: 0.6948 - acc: 0.4625
Epoch 2/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6928 - acc: 0.5250
Epoch 3/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6882 - acc: 0.5475
Epoch 4/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6941 - acc: 0.5175
Epoch 5/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6903 - acc: 0.5200
Epoch 6/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6896 - acc: 0.5400
Epoch 7/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6945 - acc: 0.5150
Epoch 8/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6883 - acc: 0.5350
Epoch 9/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6943 - acc: 0.4950
Epoch 10/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6930 - acc: 0.5375
Epoch 11/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6862 - acc: 0.5550
Epoch 12/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6847 - acc: 0.5650
Epoch 13/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6871 - acc: 0.5325
Epoch 14/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6894 - acc: 0.5375
Epoch 15/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6917 - acc: 0.5150
Epoch 16/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6861 - acc: 0.5450
Epoch 17/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6879 - acc: 0.5225
Epoch 18/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6895 - acc: 0.5300
Epoch 19/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6887 - acc: 0.5350
Epoch 20/20
400/400 [==============================] - 1s 2ms/step - loss: 0.6814 - acc: 0.5750

In [133]:
#
probdata=[]
data=[]
data = pd.read_csv('standardchartered.csv')
#data = data.drop(['Date', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)
data = data.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)
data = data.set_index('Date')
for i in range (0, data.shape[0]):
    x=np.array(pd.DataFrame(data.iloc[[i]]))
    y  = model.predict(x.reshape(-1, 1, 5))
    #print("Probability: "+ str(y[0]))
    probdata.append(y[0])

output = pd.DataFrame(probdata, columns=["Probability"])
#print(output)

In [134]:
output['Date'] = data.index

In [135]:
output = output.set_index('Date')

In [136]:
output.head()

           Probability
Date
3/24/2011     0.483786
3/25/2011     0.498382
3/27/2011     0.434765
3/28/2011     0.426493
3/29/2011     0.488677

In [137]:
data.head()

           Open  High   Low  Close  Volume
Date
3/24/2011  1785  1760  1700   1700    1140
3/25/2011  1700  1734  1676   1734    1252
3/27/2011  1734  1714  1690   1690     157
3/28/2011  1690  1680  1627   1627     270
3/29/2011  1627  1625  1568   1570    1150

In [138]:
finalData = data.join(output)
finalData

           Open  High   Low  Close  Volume  Probability
Date
1/1/2012   1340  1370  1340   1355    1155     0.515502
1/1/2013   2115  2151  2095   2105    1609     0.521568
1/10/2012  1384  1375  1300   1352    1520     0.531551
1/10/2013  2050  2049  2000   2049    2181     0.502094
1/11/2012  1352  1399  1305   1399     904     0.493403
1/12/2012  1399  1410  1340   1410     437     0.434012
1/13/2013  2049  2065  2020   2065     781     0.492280
1/15/2013  2065  2053  2004   2053    1500     0.513257
1/16/2012  1410  1387  1341   1370     960     0.487411
1/16/2013  2053  2084  2018   2040    1802     0.518260
1/17/2012  1370  1397  1370   1397     100     0.417910
1/17/2013  2040  2019  2000   2005    2209     0.501484
1/18/2012  1397  1370  1343   1348     212     0.420903
1/19/2012  1348  1374  1347   1350     375     0.437915
1/2/2012   1355  1400  1382   1390     455     0.439348
1/2/2013   2105  2120  2000   2081    3375     0.501118
1/20/2013  2005  2000  1900   1919    1440     0.511189
1/21/2013  1919  1957  1919   1950     368     0.465462
1/22/2012  1350  1350  1332   1340    1022     0.500899
1/22/2013  1950  1995  1930   1968    3946     0.504467
1/23/2012  1340  1350  1320   1330    1716     0.547250
1/23/2013  1968  1975  1955   1955     357     0.476189
1/24/2013  1955  1970  1940   1945     962     0.487406
1/25/2012  1330  1345  1315   1345     637     0.464348
1/26/2012  1345  1330  1302   1330    1732     0.550574
1/27/2013  1945  1980  1920   1980     804     0.480634
1/28/2013  1980  1980  1970   1980    1965     0.503971
1/29/2012  1330  1322  1320   1322     578     0.457666
1/3/2012   1390  1427  1390   1390    1351     0.519563
1/3/2013   2081  2110  2085   2101     896     0.501596
...         ...   ...   ...    ...     ...          ...
9/16/2012  1829  1840  1818   1840    1321     0.501581
9/17/2012  1840  1835  1804   1807     694     0.455482
9/18/2011  1360  1365  1328   1365     698     0.465391
9/18/2012  1807  1825  1800   1809    1930     0.514091
9/19/2011  1365  1365  1365   1365     100     0.418322
9/19/2012  1809  1800  1790   1790     347     0.434566
9/2/2012   1740  1807  1769   1800     523     0.446492
9/20/2011  1365  1392  1360   1392     217     0.421270
9/20/2012  1790  1790  1740   1764    1235     0.493598
9/21/2011  1392  1425  1400   1415     409     0.430462
9/22/2011  1415  1495  1430   1489     300     0.420767
9/23/2012  1764  1762  1730   1745     647     0.445285
9/24/2012  1745  1735  1711   1711     965     0.469674
9/25/2011  1489  1490  1470   1485     517     0.425517
9/25/2012  1711  1710  1677   1710    1068     0.479052
9/26/2011  1485  1501  1488   1488     160     0.408225
9/26/2012  1710  1719  1706   1706    1075     0.480544
9/27/2011  1488  1489  1480   1487     281     0.406063
9/29/2011  1487  1500  1489   1489      81     0.405476
9/3/2012   1800  1800  1771   1790    1330     0.499721
9/30/2012  1715  1725  1700   1703    1021     0.476252
9/4/2011   1590  1600  1570   1592     653     0.436586
9/4/2012   1790  1789  1755   1771    1083     0.482595
9/5/2011   1592  1584  1555   1555    1579     0.510773
9/5/2012   1771  1766  1766   1766     403     0.429902
9/6/2011   1555  1549  1524   1525    1371     0.504374
9/6/2012   1766  1785  1760   1780     479     0.437985
9/7/2011   1525  1535  1492   1510    1132     0.491058
9/8/2011   1510  1505  1480   1480     670     0.439239
9/9/2012   1780  1760  1750   1750     269     0.443939

[502 rows x 6 columns]

In [139]:
finalData.to_csv('analyzedData.csv', sep='\t', encoding='utf-8')