In [1]:
import pandas as pd

from keras.layers import Dense, Conv1D, MaxPool1D, LSTM, Dropout, Input, BatchNormalization, Flatten
from keras.models import Model

from sklearn.model_selection import train_test_split

import numpy as np

from ta import *

c:\programdata\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [ ]:
Conv1D()

In [229]:
df = pd.read_csv('standardchartered.csv')

In [230]:
df.head()

,Date,Open,High,Low,Close,Volume,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,3/24/2011,1785,1760,1700,1700,1140,NaN,NaN,NaN
1,3/25/2011,1700,1734,1676,1734,1252,NaN,NaN,NaN
2,3/27/2011,1734,1714,1690,1690,157,NaN,NaN,NaN
3,3/28/2011,1690,1680,1627,1627,270,NaN,NaN,NaN
4,3/29/2011,1627,1625,1568,1570,1150,NaN,NaN,NaN

In [231]:
df = df.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)

In [232]:
#df = df.set_index('Date')

In [233]:
df.head()

        Date  Open  High   Low  Close  Volume
0  3/24/2011  1785  1760  1700   1700    1140
1  3/25/2011  1700  1734  1676   1734    1252
2  3/27/2011  1734  1714  1690   1690     157
3  3/28/2011  1690  1680  1627   1627     270
4  3/29/2011  1627  1625  1568   1570    1150

In [234]:
df = add_all_ta_features(df, "Open", "High", "Low", "Close", "Volume")

In [235]:
df = df.fillna(value='0')

In [236]:
df = df.drop('Date', axis=1)

In [237]:
perChange = (df['Close'].shift(-1) / df['Close']) - 1

In [238]:
y = perChange > 0

In [239]:
y = y.astype(int)

In [240]:
print("Price went up {} of the days".format(sum(y == 1)/y.shape[0]))

Price went up 0.458 of the days

In [241]:
# from sklearn.preprocessing import normalize
# df = normalize(df)

In [242]:
Xtrain, Xtest, ytrain, ytest = train_test_split(df, y, test_size=0.2, shuffle=False)

In [243]:
Xtrain.shape

(400, 53)

In [244]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(400, 53)
(100, 53)
(400,)
(100,)

In [245]:
X_train = np.asarray(Xtrain)
X_test = np.asarray(Xtest)

y_train = np.asarray(ytrain)
y_test = np.asarray(ytest)

In [246]:
def model():
    inp = Input(shape=(None, 53))
    
    x = LSTM(256, return_sequences=True)(inp)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = LSTM(128)(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(64, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(32, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(1, activation='sigmoid')(x)
    
    model = Model(inp, x)
    
    model.compile('adam', 'binary_crossentropy', metrics=['accuracy'])
    
    return model

In [247]:
model = model()

In [248]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_14 (InputLayer)        (None, None, 53)          0
_________________________________________________________________
lstm_8 (LSTM)                (None, None, 256)         317440
_________________________________________________________________
batch_normalization_25 (Batc (None, None, 256)         1024
_________________________________________________________________
dropout_24 (Dropout)         (None, None, 256)         0
_________________________________________________________________
lstm_9 (LSTM)                (None, 128)               197120
_________________________________________________________________
batch_normalization_26 (Batc (None, 128)               512
_________________________________________________________________
dropout_25 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_30 (Dense)             (None, 64)                8256
_________________________________________________________________
batch_normalization_27 (Batc (None, 64)                256
_________________________________________________________________
dropout_26 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_31 (Dense)             (None, 32)                2080
_________________________________________________________________
batch_normalization_28 (Batc (None, 32)                128
_________________________________________________________________
dropout_27 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_32 (Dense)             (None, 1)                 33
=================================================================
Total params: 526,849
Trainable params: 525,889
Non-trainable params: 960
_________________________________________________________________

In [249]:
model.fit(X_train.reshape(-1, 1, 53), y_train, epochs=10)

Epoch 1/10
400/400 [==============================] - 6s 15ms/step - loss: 1.2122 - acc: 0.4750
Epoch 2/10
400/400 [==============================] - 0s 572us/step - loss: 1.1406 - acc: 0.4925
Epoch 3/10
400/400 [==============================] - 0s 617us/step - loss: 1.0352 - acc: 0.4925
Epoch 4/10
400/400 [==============================] - 0s 655us/step - loss: 1.0123 - acc: 0.5075
Epoch 5/10
400/400 [==============================] - 0s 653us/step - loss: 0.9495 - acc: 0.5400
Epoch 6/10
400/400 [==============================] - 0s 687us/step - loss: 0.9601 - acc: 0.4975
Epoch 7/10
400/400 [==============================] - 0s 611us/step - loss: 1.0414 - acc: 0.4875
Epoch 8/10
400/400 [==============================] - 0s 657us/step - loss: 0.9716 - acc: 0.4700
Epoch 9/10
400/400 [==============================] - 0s 632us/step - loss: 0.8269 - acc: 0.5400
Epoch 10/10
400/400 [==============================] - 0s 654us/step - loss: 0.9517 - acc: 0.4650

In [261]:
def model1():
    inp = Input(shape=(53,1))
    
    x = Conv1D(64, 2)(inp)
    x = MaxPool1D(2)(x)
    
    x = Conv1D(32, 3)(x)
    x = MaxPool1D(2)(x)
    
    x = LSTM(128)(x)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)
    
    x = Dense(64, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)
    
    x = Dense(32, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)
    
    x = Dense(16, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.3)(x)
    
    x = Dense(1, activation='sigmoid')(x)
    
    model = Model(inp, x)
    
    model.compile('adam', 'binary_crossentropy', metrics=['accuracy'])
    
    return model

In [262]:
model1 = model1()

In [263]:
model1.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_18 (InputLayer)        (None, 53, 1)             0
_________________________________________________________________
conv1d_15 (Conv1D)           (None, 52, 64)            192
_________________________________________________________________
max_pooling1d_14 (MaxPooling (None, 26, 64)            0
_________________________________________________________________
conv1d_16 (Conv1D)           (None, 24, 32)            6176
_________________________________________________________________
max_pooling1d_15 (MaxPooling (None, 12, 32)            0
_________________________________________________________________
lstm_10 (LSTM)               (None, 128)               82432
_________________________________________________________________
batch_normalization_34 (Batc (None, 128)               512
_________________________________________________________________
dropout_33 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_41 (Dense)             (None, 64)                8256
_________________________________________________________________
batch_normalization_35 (Batc (None, 64)                256
_________________________________________________________________
dropout_34 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_42 (Dense)             (None, 32)                2080
_________________________________________________________________
batch_normalization_36 (Batc (None, 32)                128
_________________________________________________________________
dropout_35 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_43 (Dense)             (None, 16)                528
_________________________________________________________________
batch_normalization_37 (Batc (None, 16)                64
_________________________________________________________________
dropout_36 (Dropout)         (None, 16)                0
_________________________________________________________________
dense_44 (Dense)             (None, 1)                 17
=================================================================
Total params: 100,641
Trainable params: 100,161
Non-trainable params: 480
_________________________________________________________________

In [264]:
model1.fit(X_train.reshape(-1, 53, 1), y_train, epochs=20)

Epoch 1/20
400/400 [==============================] - 7s 17ms/step - loss: 0.7609 - acc: 0.5425
Epoch 2/20
400/400 [==============================] - 0s 1ms/step - loss: 0.8275 - acc: 0.4900
Epoch 3/20
400/400 [==============================] - 0s 1ms/step - loss: 0.8702 - acc: 0.4775
Epoch 4/20
400/400 [==============================] - 0s 1ms/step - loss: 0.8612 - acc: 0.4950
Epoch 5/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7912 - acc: 0.5525
Epoch 6/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7660 - acc: 0.5350
Epoch 7/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7707 - acc: 0.4950
Epoch 8/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7638 - acc: 0.5175
Epoch 9/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7859 - acc: 0.5225
Epoch 10/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7206 - acc: 0.5550
Epoch 11/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7651 - acc: 0.5200
Epoch 12/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7840 - acc: 0.4925
Epoch 13/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7464 - acc: 0.5150
Epoch 14/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7682 - acc: 0.5425
Epoch 15/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7621 - acc: 0.4950
Epoch 16/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7418 - acc: 0.5550
Epoch 17/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7143 - acc: 0.5175
Epoch 18/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7559 - acc: 0.4850
Epoch 19/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7775 - acc: 0.4800
Epoch 20/20
400/400 [==============================] - 0s 1ms/step - loss: 0.7861 - acc: 0.4825