In [56]:
import pandas as pd

from keras.layers import Dense, Conv1D, MaxPool1D, LSTM, Dropout, Input, BatchNormalization
from keras.models import Model

from sklearn.model_selection import train_test_split

import numpy as np

In [2]:
df = pd.read_csv('standardchartered.csv')

In [5]:
df.head()

,Date,Open,High,Low,Close,Volume,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,3/24/2011,1785,1760,1700,1700,1140,NaN,NaN,NaN
1,3/25/2011,1700,1734,1676,1734,1252,NaN,NaN,NaN
2,3/27/2011,1734,1714,1690,1690,157,NaN,NaN,NaN
3,3/28/2011,1690,1680,1627,1627,270,NaN,NaN,NaN
4,3/29/2011,1627,1625,1568,1570,1150,NaN,NaN,NaN

In [9]:
df = df.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)

In [26]:
df = df.set_index('Date')

In [28]:
df.head()

           Open  High   Low  Close  Volume
Date
3/24/2011  1785  1760  1700   1700    1140
3/25/2011  1700  1734  1676   1734    1252
3/27/2011  1734  1714  1690   1690     157
3/28/2011  1690  1680  1627   1627     270
3/29/2011  1627  1625  1568   1570    1150

In [36]:
perChange = (df['Close'].shift(-1) / df['Close']) - 1

In [39]:
y = perChange > 0

In [40]:
y = y.astype(int)

In [47]:
print("Price went up {} of the days".format(sum(y == 1)/y.shape[0]))

Price went up 0.458 of the days

In [43]:
Xtrain, Xtest, ytrain, ytest = train_test_split(df, y, test_size=0.2, shuffle=False)

In [44]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(400, 5)
(100, 5)
(400,)
(100,)

In [57]:
X_train = np.asarray(Xtrain)
X_test = np.asarray(Xtest)

y_train = np.asarray(ytrain)
y_test = np.asarray(ytest)

In [59]:
def model():
    inp = Input(shape=(None, 5))
    
    x = LSTM(256, return_sequences=True)(inp)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = LSTM(128)(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(64, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(32, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(1, activation='sigmoid')(x)
    
    model = Model(inp, x)
    
    model.compile('adam', 'binary_crossentropy', metrics=['accuracy'])
    
    return model

In [60]:
model = model()

In [61]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, None, 5)           0
_________________________________________________________________
lstm_4 (LSTM)                (None, None, 256)         268288
_________________________________________________________________
batch_normalization_6 (Batch (None, None, 256)         1024
_________________________________________________________________
dropout_5 (Dropout)          (None, None, 256)         0
_________________________________________________________________
lstm_5 (LSTM)                (None, 128)               197120
_________________________________________________________________
batch_normalization_7 (Batch (None, 128)               512
_________________________________________________________________
dropout_6 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_5 (Dense)              (None, 64)                8256
_________________________________________________________________
batch_normalization_8 (Batch (None, 64)                256
_________________________________________________________________
dropout_7 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_6 (Dense)              (None, 32)                2080
_________________________________________________________________
batch_normalization_9 (Batch (None, 32)                128
_________________________________________________________________
dropout_8 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 33
=================================================================
Total params: 477,697
Trainable params: 476,737
Non-trainable params: 960
_________________________________________________________________

In [63]:
model.fit(X_train.reshape(-1, 1, 5), y_train, epochs=10)

Epoch 1/10
400/400 [==============================] - 0s 1ms/step - loss: 1.0395 - acc: 0.4775
Epoch 2/10
400/400 [==============================] - 0s 582us/step - loss: 0.9444 - acc: 0.5300
Epoch 3/10
400/400 [==============================] - 0s 557us/step - loss: 1.0587 - acc: 0.4400
Epoch 4/10
400/400 [==============================] - 0s 919us/step - loss: 0.9865 - acc: 0.5025
Epoch 5/10
400/400 [==============================] - 0s 1ms/step - loss: 0.9063 - acc: 0.5275
Epoch 6/10
400/400 [==============================] - 0s 947us/step - loss: 0.9723 - acc: 0.4725
Epoch 7/10
400/400 [==============================] - 0s 641us/step - loss: 0.9208 - acc: 0.4625
Epoch 8/10
400/400 [==============================] - 0s 680us/step - loss: 0.8452 - acc: 0.5175
Epoch 9/10
400/400 [==============================] - 0s 590us/step - loss: 0.9503 - acc: 0.4850
Epoch 10/10
400/400 [==============================] - 0s 623us/step - loss: 0.8727 - acc: 0.5100