In [48]:
import pandas as pd

from keras.layers import Dense, Conv1D, MaxPool1D, LSTM, Dropout, Input, BatchNormalization
from keras.models import Model

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('standardchartered.csv')

In [5]:
df.head()

,Date,Open,High,Low,Close,Volume,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,3/24/2011,1785,1760,1700,1700,1140,NaN,NaN,NaN
1,3/25/2011,1700,1734,1676,1734,1252,NaN,NaN,NaN
2,3/27/2011,1734,1714,1690,1690,157,NaN,NaN,NaN
3,3/28/2011,1690,1680,1627,1627,270,NaN,NaN,NaN
4,3/29/2011,1627,1625,1568,1570,1150,NaN,NaN,NaN

In [9]:
df = df.drop(['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)

In [26]:
df = df.set_index('Date')

In [28]:
df.head()

           Open  High   Low  Close  Volume
Date
3/24/2011  1785  1760  1700   1700    1140
3/25/2011  1700  1734  1676   1734    1252
3/27/2011  1734  1714  1690   1690     157
3/28/2011  1690  1680  1627   1627     270
3/29/2011  1627  1625  1568   1570    1150

In [36]:
perChange = (df['Close'].shift(-1) / df['Close']) - 1

In [39]:
y = perChange > 0

In [40]:
y = y.astype(int)

In [47]:
print("Price went up {} of the days".format(sum(y == 1)/y.shape[0]))

Price went up 0.458 of the days

In [43]:
Xtrain, Xtest, ytrain, ytest = train_test_split(df, y, test_size=0.2, shuffle=False)

In [44]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(400, 5)
(100, 5)
(400,)
(100,)

In [49]:
def model():
    inp = Input(shape=(None, 5))
    
    x = LSTM(256, return_sequences=True)(inp)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = LSTM(128)(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(64, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dropout(0.5)(x)
    
    x = Dense(1, activation='sigmoid')(x)
    
    model = Model(inp, x)
    return model

In [50]:
model = model()

In [51]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, None, 5)           0
_________________________________________________________________
lstm_1 (LSTM)                (None, 256)               268288
_________________________________________________________________
batch_normalization_1 (Batch (None, 256)               1024
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 257
=================================================================
Total params: 269,569
Trainable params: 269,057
Non-trainable params: 512
_________________________________________________________________